<div class="flex justify-center mb-3">
    <a href="{{ path('create_event', {step: 1}) }}"
       class="block w-full mx-3  px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        step one
    </a>

    <a href="{{ path('create_event', {step: 2}) }}"
       class="block w-full mx-3  px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        step two
    </a>

    <a href="{{ path('create_event', {step: 3}) }}"
       class="block w-full mx-3  px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        step three
    </a>
</div>